@model WebApplicationOrder.Models.DBEntities.OrderMaster

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderedDate" class="control-label"></label>
                <input asp-for="OrderedDate" class="form-control" />
                <span asp-validation-for="OrderedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderedAmount" class="control-label"></label>
                <input asp-for="OrderedAmount" class="form-control" />
                 <span asp-validation-for="OrderedAmount" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
